<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register new user</title>
    <style>
        body{
            margin: 0;
            background-image: url(pics/Katana3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .form{
          margin: 0 100px;
        }
    </style>
</head>
<body>
    <div class="form">
                <form action="/doRegister" method="post">
                    <h2 style="margin: 0; color: rgb(255, 0, 140);">User Name </h2>
                    <br>
                    <input type="text" name="txtName" style="width: 100%; padding: 15px 10px; border-radius: 3px; border: 0;" placeholder="Enter username...">
                    <br><br>
                    <span style="color: rgb(14, 13, 13); background: red;" class="error">{{error.username}}</span>
                    <h2 style="margin: 0; color: rgb(255, 0, 140);">Password</h2> 
                    <br>
                    <input type="password" name="txtPassword" style="width: 100%; padding: 15px 10px; border-radius: 3px; border: 0;" placeholder="Enter Password...">
                    <br><br>
                    <span style="color: rgb(14, 13, 13); background: red;" class="error">{{error.password}}</span>
                    <h2 style="color: red;">{{errorMsg}}</h2>
                    <input type="submit" value="Register" style="width: 100%; padding: 10px 10px; border-radius: 3px; border: 0; background-color: green; color: white;"> 
                </form>
            </div>
    </form>
</body>
</html>